<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>CARD MAN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/site.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Cards -->
    <div class="container">
      <!-- Black Card -->
      <table class="table">
        <tr class="active"><td><%= game.round.blackCard %></td></tr>
      </table>

      <!-- White Cards -->
      <table class="table table-hover">
        <% game.players[0].hand.forEach(function(card) { %>
          <tr>
            <td><%= card %></td>
          </tr>
        <% }) %>
      </table>

    </div> <!-- /container -->

    <!-- SCORE -->
    <div class="container">
      <table class="table">
        <% game.players.forEach(function(player) { %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.score %></td>
          </tr>
        <% }) %>
      </table>
    </div> <!-- /container -->

  </body>
</html>
