

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Card Man</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body> 
	<nav class="navbar navbar-inverse" role="navigation"></nav>
	<div class="container">
		<div class="login">
			<h1>Card Man</h1>
			<img src="/img/avatar.png" class="img-circle">
			<form class="form-signin"	  role="form">
				<h3 class="form-signin-heading">Enter name</h3>
				<input id="username" type="name" class="form-control" placeholder="<%= name %>" required autofocus>
				<input id="game" type="game" class="form-control" placeholder="Game name" required="">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Create Game</button>
			</form>
		</div>
	</div>

		
		

    <script>
      $(function(){

        $('.form-signin').submit(function(e){

          var uname = $('input#username').val();
          var game = $('input#game').val();
          if(uname && game){
            document.location = "/game/" + game;
          }


          e.preventDefault();
        }); 

      });
    </script>


  </body>
</html>
